<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo! Watch some Everline 'ere.</h1>
  </div>
</header>

<section>
  <div class="container">
    <div player sessions="sessions">Loading up the fun</div>

    <h1>Sessions</h1>
    <ul>
      <li ng-repeat="session in sessions">
        {{session.url}}
      </li>
    </ul>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <form class="thing-form">
      <label>Add a session manually</label>

      <p class="input-group">
        <input type="text" class="form-control"
               placeholder="https://console.sessioncam.com/Dashboard/Playback/?SessionId=27b397e6-d1fd-48cb-87ad-51cda73f1f3e&starttime=635503529500000000&hostnameId=4e5fb7ff-1c2f-e311-9438-12313928a8b9"
               ng-model="newSession"/>
        <span class="input-group-btn">
          <input type="text" class="form-control"
                 placeholder="60 s"
                 ng-model="newSessionTime"/>
          <button type="submit" class="btn btn-primary" ng-click="addSession()">Add</button>
        </span>
      </p>
    </form>
  </div>
</footer>
